.header-section {
  background-color: rgb(210, 210, 210);
  height: 900px;
  border: red 3px solid;
  position: relative;
  min-width: 1000px;
  z-index: -900;
}

.button-header {
  background-color: rgb(103, 103, 103);
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  bottom: 90px;
  border: red 3px solid;
  position: relative;
  min-width: 1000px;
}

.header-parallax {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-direction: column;
  height: 85vh;
}

.parallax-layer {
  position: absolute;
  bottom: 0;
}

.layer-1 {
  top: 0%;
}

.layer-3 {
  top: 0%;
}

.layer-2 {
  position: absolute;
  bottom: 53%;
  left: 26%;
  width: 800px;
}

.spacer {
  height: 10vh;
}

.btn-scroll {
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;
  top: 10px;
  z-index: 7;
  animation: bounce 2s ease-in-out infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(30px);
  }
}
