.img-section-9 {
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;
  height: 3200px;

  background-color: #000;
}

img {
  max-width: 100%;
}

.img-14 {
  position: absolute;
  left: 10%;
  top: 2%;
}

.img-15 {
  position: absolute;
  left: 60%;
  top: 15%;
}

.img-16 {
  position: absolute;
  top: 33%;
  left: 10%;
}

.img-17 {
  position: absolute;
  top: 40%;
  left: 59%;
}

.img-18 {
  position: absolute;
  top: 46%;
  left: 35%;
}

.img-19 {
  position: absolute;
  top: 70%;
}
