.img-section-6 {
  background-color: rgb(0, 0, 0);
}

.img-section-6 {
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;
  height: 600px;
  background-color: rgb(0, 0, 0);
}

img {
  max-width: 100%;
}

.img-11 {
  position: absolute;
}
