.nav {
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: absolute;
  right: 20px;
  margin-top: 20px;
}

.button-nav {
  border: 1px solid;
  border-radius: 20px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  text-decoration: none;
  color: red($color: #380000);
  background-color: white;
}

.button-nav :hover {
  border-radius: 30px;
  color: rgb(255, 255, 255);
  background-color: #3c1223;
  transition: 0.5s;
}

.button-nav a p {
  padding: 10px 20px;
  text-decoration: none;
}
